<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <h2>Add an Exercise</h2>
    <form action="/profiles/<%= profile._id %>/exercise" method="POST">
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <button type="submit">Add Exercise</button>
    </form>  
  <% } %>
</main>

<%- include('../partials/footer') %>