<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/main.css">

<%- include('../partials/nav') %>

<section>
  <h1>Exercises</h1>
  <% if (user) { %>
   <h2> Add Exercise</h2>
   <form action="/exercises" method="POST">
     <label>
       Name:
       <input type="text" name="name" autocomplete="off">
     </label>
     <button type="submit">Add</button>
   </form>
  <% } %>
  <h2>All Exercises</h2>
  <ul>
    <% exercises.forEach(exercise => { %>
      <li>
        <a href="/exercises/<%= exercise._id %> "><%= exercise.name %></a>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>