<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/main.css">

<%- include('../partials/nav') %>

<% if (user) { %>
<% } %>
<main>
  <a href="/exercises/new">Create Exercise</a>
  <h1>Exercises</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Sets</th>
          <th>Weight</th>
        </tr>
    </thead>
    <tbody>
      <% exercises.forEach(exercise => { %>
        <tr>
          <td><a href="/exercises/<%= exercise._id %> "><button><%= exercise.name %></button></a>  </td>
          <td style="font-size: larger;"><%= exercise.set %> </td>
          <td><%= exercise.weight %> </td>
        </tr>                    
        <% }) %>
      </tbody>
    </table>
</main>

<%- include('../partials/footer') %>