<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/main.css">

<%- include('../partials/nav') %>

<section>
  <h1>Exercises</h1>
  <% if (user) { %>
  <% } %>
  <ul>
    <% exercises.forEach(exercise => { %>
      <li>
        <a href="/exercises/<%= exercise._id %> "><%= exercise.name %></a>
        <form action="/exercises/<%= exercise._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        <form action="/exercises/<%= exercise._id %>/edit" method="GET">
          <button type="submit">Edit</button>
        </form>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>