<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/edit.css"/>

<%- include('../partials/nav') %>

<section>
  <div> 
    <a href="/exercises/<%= exercise._id %>/edit"><button>Edit Exercise</button></a>
  </div>
  <table>
    <thead>
        <tr>
          <th>Exercise</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td> <%= exercise.name %> </td>
          <td> <%= exercise.set %> </td>
          <td> <%= exercise.reps %> </td>
          <td> <%= exercise.weight %> </td>
        </tr>
      </tbody>
    </table>
</section>

<%- include('../partials/footer') %>