<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>From the gym of <%= exercise.owner.name %>...</p>
  <h1><%= exercise.name %></h1>
</section>

<%- include('../partials/footer') %>