<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>  
  <a href="/exercises/<%= exercise._id %>/edit">Edit Exercise</a>
</section>
  <table>
    <tr>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
    <tr>
      <td> <%= exercise.name %> </td>
      <td> <%= exercise.set %> </td>
      <td> <%= exercise.weight %> </td>
    </tr>
  </table>

</section>

<%- include('../partials/footer') %>